{% extends "index.html" %}

{% block content %}
<div class="d-flex justify-content-center align-items-center" style="">
    <form method="post" enctype="multipart/form-data" 
          class="d-flex flex-column row-gap-3 p-4 bg-dark text-white shadow-lg rounded animate__animated animate__fadeIn" 
          style="width: 100%; max-width: 600px; background-color: #2c3e50;">
        {% csrf_token %}
        <h2 class="text-center mb-4">Register User</h2>
        
        <!-- First Name and Last Name in a Single Row -->
        <div class="row mb-3">
            <div class="col-md-6">
                {{ form.first_name.label_tag }}
                {{ form.first_name }}
            </div>
            <div class="col-md-6">
                {{ form.last_name.label_tag }}
                {{ form.last_name }}
            </div>
        </div>

        <div class="mb-3">
            {{ form.username.label_tag }}
            {{ form.username }}
            <div class="form-text text-light">Choose a unique username.</div>
        </div>

        <div class="mb-3">
            {{ form.email.label_tag }}
            {{ form.email }}
        </div>
        
        <!-- Password and Password Confirmation in a Single Row -->
        <div class="row mb-3">
            <div class="col-md-6">
                {{ form.password1.label_tag }}
                {{ form.password1 }}
            </div>
            <div class="col-md-6">
                {{ form.password2.label_tag }}
                {{ form.password2 }}
            </div>
        </div>

        <div class="mb-3">
            {{ form.phone_no.label_tag }}
            {{ form.phone_no }}
        </div>

        <div class="mb-3">
            {{ form.bio.label_tag }}
            {{ form.bio }}
        </div>

        <div class="mb-3">
            {{ form.profile_image.label_tag }}
            {{ form.profile_image}}
        </div>
        
        <button class="btn btn-success" type="submit">Register</button>
        <p class="mt-3 text-center">Already have an account? 
           <a href="{% url 'login' %}" class="text-success">Login here</a></p>
    </form>
</div>



{% endblock  %}