{% extends "index.html" %}

{% block content %}

<header class="bg-success text-white text-center py-5 rounded">
    <div class="container">
        <h1>About HelpBridge</h1>
        <p class="lead">Connecting People with Purpose</p>
    </div>
</header>

<!-- About Section -->
<section class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 mb-4">
                <h2 class="text-success">Our Mission</h2>
                <div class="p-4 rounded">
                    <p>At HelpBridge, our mission is to create a platform where people can come together to support one another in times of need. Whether it's offering a helping hand or asking for assistance, we believe in the power of community.</p>
                </div>
            </div>
            <div class="col-lg-6 mb-4">
                <h2 class="text-success">Our Vision</h2>
                <div class="p-4 rounded">
                    <p>We envision a world where no one has to face challenges alone. HelpBridge is here to make sure everyone has the support they need, when they need it.</p>
                </div>
            </div>
        </div>
        
        <div class="text-center mt-5">
            <h2 class="text-success">Meet the Team</h2>
        </div>
        <div class="row text-center mt-4">
            <div class="col-md-4 mb-4">
                <img src="static/images/avatar.png" alt="Team Member" height=150px width=150px class="img-fluid rounded-circle">
                <h5 class="mt-3">Prabhat Thakur</h5>
                <p>Founder & CEO</p>
            </div>
            <div class="col-md-4 mb-4">
                <img src="static/images/himanshu.png" alt="Team Member" height=150px width=150px class="img-fluid rounded-circle">
                <h5 class="mt-3">Himanshu Rajpoot</h5>
                <p>Chief Operating Officer</p>
            </div>
            <div class="col-md-4 mb-4">
                <img src="static/images/abeer.png" alt="Team Member" height=150px width=150px class="rounded-circle">
                <h5 class="mt-3">Abeer Chaturvedi</h5>
                <p>Head of Community Outreach</p>
            </div>
        </div>
    </div>
</section>
{% endblock  %}

